body {
  margin: initial;
  background-color: #c91075;
}

/* ============= navigation ============= */
.navigation {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}

.navigation__item {
  margin: 0 5px;
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
  font-size: 25px;
  cursor: pointer;
}

.navigation__item.active,
.navigation__item:hover {
  background-color: #000;
  color: #fff;
  border-radius: 8px;
}

/* ============= jokes ============= */
/* ============= dogs ============= */
.dogs,
.jokes {
  margin: 25px;
}

.dogs__btn,
.jokes__btn {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.dogs__btn:hover,
.jokes__btn:hover {
  background-color: #cecece;
  cursor: pointer;
}

.jokes__joke,
.jokes__punchline,
.jokes__delay {
  font-size: 25px;
  color: #fff;
}

.dogs__img {
  display: block;
  max-height: 400px;
}

/* ============= posts ============= */
.posts,
.post {
  margin: 25px;
}

.posts li {
  margin: 10px 0;
}

.posts__link {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding: 5px 10px;
}

.posts__link:hover {
  background-color: black;
  border-radius: 10px;
}

.post__container {
  display: flex;
  padding: 0 50px;
  position: relative;
  flex-direction: column;
}

.post__title {
  text-align: center;
}

.post__body {
  font-size: 20px;
  color: #fff;
  margin-bottom: 100px;
}

.post__back {
  position: absolute;
  bottom: 0;
  right: 15%;
  background-color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 6px;
  color: #000;
  border: none;
}

.post__back:hover {
  background-color: #cecece;
  cursor: pointer;
}

/* ============= loader ============= */
.loader {
  color: #fff;
  margin-left: 10px;
}

.news__loader {
  margin-top: 50px;
  font-size: 30px;
  text-align: center;
}

/* ============= error ============= */
.error {
  padding: 5px;
  color: #fff;
  font-size: 20px;
  border-left: 1px solid red;
  border-bottom: 1px solid red;
}

.news__error {
  margin: 25px;
}

/* ============= footer ============= */
.footer {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 30px;
  align-items: center;
}